{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    {{ with .Site.Params.banner }}
    <img src="/images/{{ . }}" height="180" width="655" style="align: center;"alt=""/>
    {{ end }}
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    
      {{ .Params.subheading }}<span class="fancy">.</span>
    </h2>
    <!-- Replace MEEEEE -->

    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}
